@font-face {
  font-family: "Kimberley";
    src: url("../Websiteland/kimberle.ttf") format("truetype");
}
@font-face {
  font-family: "LemonMilk";
    src: url("../Websiteland/LemonMilk.ttf") format("truetype");
}
@font-face {
  font-family: "rc";
    src: url("../Websiteland/R&C-Demo.otf") format("opentype");
}
@font-face {
  font-family: "ks2";
    src: url("../Websiteland/KhadijaDisplay2.otf") format("opentype");
}
@font-face {
  font-family: "baron";
    src: url("../Websiteland/Baron Neue.otf") format("opentype");
}
  
 @font-face {
  font-family: "cowboy";
    src: url("../Websiteland/Ol' Cowboy DEMO.ttf") format("truetype");
} 

@font-face {
  font-family: "zilap";
    src: url("../Websiteland/Zilap Monograma DEMO.ttf") format("truetype");
}

@font-face {
  font-family: "wages";
  src: url("../Websiteland/LOSTWAGE.TTF") format("truetype");
}
