@import url("../../../CSS/Fonts/fonts.css");

h1 {
    font-size: 5rem;
    color: transparent;
    text-shadow: 0px 0 0px white,
        -5px 0 5px RGB(195, 42, 255),
        5px 0 5px RGB(195, 42, 255),
        -5px 0 10px RGB(195, 42, 255),
        5px 0 10px RGB(195, 42, 255),
        -5px 0 15px RGB(195, 42, 255),
        5px 0 15px RGB(195, 42, 255);
    font-family: 'mia';
    font-weight: 300;
    -webkit-text-stroke: 1px purple;
    font-size: 6rem;
}

body {
    text-align: center;
    background-color: #000000;
    background-image: url(http://www.transparenttextures.com/patterns/brick-wall.png);
}
