@import "../Fonts/fonts.css";

html {
    padding-top: 0px;
    overflow-x:hidden;
}

h1 {
    text-align: left;
    color: rgba(100, 50, 255, .8);
    font-size: 9vw;
    white-space: nowrap;
    resize: both;
    line-height: normal;
    margin-top: 0px;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
    font-family: oreos;
}

h2 {
    text-align: center;
}

h3 {
    font-size: 1.5vw;
}

h2 img {
    width:50%;
    align:center;
}

span.links {
    display: block;
    background-color:rgba(0,0,0,0.5);
}

.rainbow {
    text-align: center;
    margin: auto;
    font-size: 6vh;
    font-weight: bold;
    font-family: oreos;
    overflow-wrap: anywhere;
    text-align: center;
    height: 150vh;
    color: #f35626;
    color: #f35626;
}

h1 div a {
    box-shadow:
        .5em 10px 16px 0 rgba(0, 0, 0, 0.75),
        -8px -8px 12px 0 rgba(255, 255, 255, 0.75);
    border-radius: 50px;
    justify-content: center;
    width: 99%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: oreos;
    font-size: 2.5vw;
    line-height: 1.5;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: shadow 3s linear infinite;
}

div.background {
    background-repeat: repeat;
    background-size: 99%;
    width: 99%;
    animation-name: background;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: linear;
    animation-timing-function: linear;
    opacity: 1;
    z-index: 1;
    position: absolute;
    down: 9;
}

::-webkit-scrollbar {
    width: 10px;
    background-color:black;
}

h1.title {
    overflow-wrap: break-word;
    text-align: center;
    padding-top: 0px;
    line-height: 16vh
}

@-webkit-keyframes hue {
  0% {-webkit-filter: hue-rotate(0deg);}
  100% {-webkit-filter: hue-rotate(-360deg);}
}

@keyframes shadow {
    0% {box-shadow:5px 5px 5px 0 rgba(255, 255, 255, 0.75), -5px -5px 5px 0 rgba(255, 255, 255, 0.75);}
    50% {box-shadow:2.5px 2.5px 2.5px 0 rgba(255, 255, 255, 0.75), -2.5px -2.5px 2.5px 0 rgba(255, 255, 255, 0.75);}
    100% {box-shadow:5px 5px 5px 0 rgba(255, 255, 255, 0.75),-5px -5px 5px 0 rgba(255, 255, 255, 0.75);}
}

.button {
  background-color: teal;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family:vcr;
}
    
.button:hover {
background-color:deeppink;
}
    
.button:active {
background-color:teal;
}
    
.center {
text-align:center;        
}