@import "https://SEGACD32XMODEL1.github.io/Websiteland/CSS/Fonts/fonts.css";
@import "https://SEGACD32XMODEL1.github.io/Websiteland/CSS/Rainbow/rainbowtext.css";

h2{
  text-align:left;
}

h1{
  text-align:left;
  color:rgba(100, 50, 255, .8);
}

.rainbow {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 1s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 1s infinite;
  
  /* Standar Syntax */
  animation: rainbow 1s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	95%{color: blue;}
	100%{color: white;}	
}
/* Internet Explorer */
@-ms-keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	95%{color: blue;}
	100%{color: white;}	
}
/* Standard Syntax */
@keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	95%{color: blue;}
	100%{color: white;}
}

#grad1 {
    height: 100%;
    background: red;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

    .back {
background:    #00b2ff;
background:    linear-gradient(#0088ff, #00b2ff 50%, #0088ff);
border:        1px solid #0040ff;
border-radius: 5px;
box-shadow:    -3px 3px #0088ff;
padding:       8px 20px;
color:         #ffffff;
display:       inline-block;
font:          italic bold 24px/1 "Calibri", sans-serif;
text-align:    center;
text-shadow:   2px 2px #000000;
    }
    #gradient{
background: #AAFFA9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #11FFBD, #AAFFA9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
}