@font-face {
  font-family: "Kimberley";
    src: url("https://robocop79.github.io/Websiteland/CSS/Fonts/kimberle.ttf") format("truetype");
}
@font-face {
  font-family: "LemonMilk";
    src: url("https://robocop79.github.io/Websiteland/CSS/Fonts/LemonMilk.ttf") format("truetype");
}
@font-face {
  font-family: "rc";
    src: url("https://robocop79.github.io/Websiteland/CSS/Fonts/R&C-Demo.otf") format("opentype");
}
@font-face {
  font-family: "ks2";
    src: url("https://robocop79.github.io/Websiteland/CSS/Fonts/KhadijaDisplay2.otf") format("opentype");
}
@font-face {
  font-family: "baron";
    src: url("https://robocop79.github.io/Websiteland/CSS/Fonts/Baron Neue.otf") format("opentype");
}
  
 @font-face {
  font-family: "cowboy";
    src: url("https://robocop79.github.io/Websiteland/CSS/Fonts/Ol' Cowboy DEMO.ttf") format("truetype");
} 

@font-face {
  font-family: "zilap";
    src: url("https://robocop79.github.io/Websiteland/CSS/Fonts/Zilap Monograma DEMO.ttf") format("truetype");
}

@font-face {
  font-family: "wages";
  src: url("https://robocop79.github.io/Websiteland/CSS/Fonts/LOSTWAGE.TTF") format("truetype");
}

@font-face {
  font-family: "riesling";
  src: url("https://robocop79.github.io/Websiteland/CSS/Fonts/riesling.ttf") format("truetype");
}

@font-face {
  font-family: "oreos";
  src: url("https://robocop79.github.io/Websiteland/CSS/Fonts/Oreos.ttf") format("truetype");
}

@font-face {
  font-family: "achi";
  src: url("https://robocop79.github.io/Websiteland/CSS/Fonts/achi regular.ttf") format("truetype");
}

@font-face {
  font-family: "santelia";
  src: url("https://robocop79.github.io/Websiteland/CSS/Fonts/SantEliaRoughAltBoldThrDEMO.otf") format("truetype");
}

@font-face {
  font-family: "AmericanText";
  src: url("https://robocop79.github.io/Websiteland/CSS/Fonts/AmericanText.ttf") format("truetype");
}

@font-face {
  font-family: "PS1";
  src: url("https://robocop79.github.io/Websiteland/CSS/Fonts/PS1.ttf") format("truetype");
}
