@font-face {
  font-family: "Kimberley";
    src: url("kimberle.ttf") format("truetype");
}
@font-face {
  font-family: "LemonMilk";
    src: url("LemonMilk.ttf") format("truetype");
}
@font-face {
  font-family: "rc";
    src: url("R&C-Demo.otf") format("opentype");
}
@font-face {
  font-family: "ks2";
    src: url("KhadijaDisplay2.otf") format("opentype");
}
@font-face {
  font-family: "baron";
    src: url("Baron Neue.otf") format("opentype");
}

 @font-face {
  font-family: "cowboy";
    src: url("Ol' Cowboy DEMO.ttf") format("truetype");
}

@font-face {
  font-family: "zilap";
    src: url("Zilap Monograma DEMO.ttf") format("truetype");
}

@font-face {
  font-family: "wages";
  src: url("LOSTWAGE.TTF") format("truetype");
}

@font-face {
  font-family: "riesling";
  src: url("riesling.ttf") format("truetype");
}

@font-face {
  font-family: "oreos";
  src: url("Oreos.ttf") format("truetype");
}

@font-face {
  font-family: "achi";
  src: url("achi regular.ttf") format("truetype");
}

@font-face {
  font-family: "santelia";
  src: url("SantEliaRoughAltBoldThrDEMO.otf") format("truetype");
}

@font-face {
  font-family: "AmericanText";
  src: url("AmericanText.ttf") format("truetype");
}

@font-face {
  font-family: "PS1";
  src: url("PS1.ttf") format("truetype");
}

@font-face {
  font-family: "Impact";
  src: url("impact.ttf") format("truetype");
}

@font-face {
  font-family: "vcr";
  src: url("vcr.ttf") format("truetype");
}

@font-face {
  font-family: "spongebob";
  src: url("Some Time Later.otf") format("opentype");
}

@font-face {
  font-family: "Pepsi";
  src: url("PEPSI_pl.ttf") format("truetype");
}

@font-face {
  font-family: "Sweet Pancake";
  src: url("Sweet Pancake Demo.ttf") format("truetype");
}

@font-face {
  font-family: "Mario";
  src: url("SuperMario256.ttf") format("truetype");
}

@font-face {
  font-family: "ciberg";
    src: url("CiberGotica.otf") format("opentype");
}

@font-face {
  font-family: "Hanalei";
  src: url("Hanalei-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Pulse";
  src: url("ThePulse.ttf") format("truetype");
}
