@import "fonts.css";

body {
    text-align: center;
}

.kim {
    font-family: Kimberley;
}

.lem {
    font-family: LemonMilk;
}

.kha {
    font-family: ks2;
}

.rc {
    font-family: rc;
}

.bar {
    font-family: baron;
}

.cow {
    font-family: cowboy;
}

.zil {
    font-family: zilap;
}

.los {
    font-family: wages;
}

.rie {
    font-family: riesling;
}

.ore {
    font-family: oreos;
}

.ach {
    font-family: achi;
}

.san {
    font-family: santelia;
}

.ame {
    font-family: AmericanText;
}

.ps1 {
    font-family: PS1;
}

.imp {
    font-family: impact;
}

.vcr {
    font-family: vcr;
}

.som {
    font-family: Spongebob;
}

.pep {
    font-family: Pepsi;
}

.swe {
    font-family: Sweet Pancake;
}

.sup {
    font-family: Mario;
}

.cib {
    font-family: ciberg;
}

.han {
    font-family: Hanalei;
}

.thep {
    font-family: Pulse;
}
