<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8" />
        <title>Website Templates</title>
        <meta name="author" content="SEGACD32XMODEL1" />
        <meta name="description" content="Website Templates" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="index.css" />
    </head>

    <body>
        <header>
            <h1>Website Templates</h1>
        </header>
        <main>
            <div class="parent">
                <div class="image">
                    <picture>
                        <source
                            media="(max-width: 799px)"
                            srcset="https://picsum.photos/200/700"
                        />
                        <source
                            media="(min-width: 800px)"
                            srcset="https://picsum.photos/700/700"
                        />
                        <img
                            src="https://picsum.photos/700/700"
                            alt="Lorem Picsum Placeholder Images"
                        />
                    </picture>
                </div>
                <div class="subparent">
                    <div class="Design">
                        <h2>Design</h2>
                        <a href="Design/temp1/index.html">Template 1</a>
                        <br>
                        <br>
                        <a href="Design/temp2/index.html">Template 2</a>
                    </div>
                    <hr class="vr" />
                    <div class="Styled">
                        <h2>Styled</h2>
                        <a href="Styled/dtemp1/index.html">Template 1</a>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <br />
            Layouts that I created to try out
        </footer>
    </body>
</html>
