body {
    text-align: center;
}

.content {
    text-align: center;
    width: 50%;
    position: absolute;
    left: 25%;
}

p {
    width: 100%;
    text-align: left;
    font-family: Bahnschrift;
}

hr {
    width: 25%;
}