<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8" />
        <title>Example Title</title>
        <meta name="author" content="Your Name" />
        <meta name="description" content="Example description" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="index.css" />
    </head>

    <body>
        <header>
            <div>
                <h1>Styled Template 1</h1>
                <hr />
            </div>
        </header>
        <main>
            <div class="content">
                <h2>Lorem Ipsum</h2>
                <p>
                    Bacon ipsum dolor amet qui commodo turkey voluptate. Laborum
                    cillum swine dolore. Chislic excepteur meatball nostrud
                    sausage, shoulder voluptate et velit sed ribeye. Spare ribs
                    porchetta chicken enim pork loin capicola pork belly, ad
                    culpa aliquip est ut shankle. Et lorem in eu elit, ad cillum
                    aute. <br /><br />
                    Frankfurter voluptate laboris, lorem meatloaf turducken
                    shank chicken commodo picanha. Anim ut chicken ut
                    reprehenderit. Picanha landjaeger venison ribeye ball tip
                    esse bresaola ex kevin cow nostrud qui tail mollit.
                    Voluptate tri-tip qui ullamco ut shankle ut, velit jerky
                    swine short loin veniam sirloin. <br /><br />
                    Beef ribs commodo sausage cow sirloin frankfurter nisi tail
                    occaecat sunt shank cupidatat. Andouille jowl officia, shank
                    alcatra sausage laboris voluptate picanha. Short loin aute
                    laboris picanha, ham ut hamburger incididunt in ham hock
                    filet mignon. Sint bacon strip steak fatback, voluptate
                    meatloaf swine irure deserunt cupim quis brisket hamburger
                    beef ribs dolor. Adipisicing ut lorem ex, drumstick
                    andouille meatloaf kevin aliquip burgdoggen irure chicken
                    dolore duis. <br /><br />
                    Meatball eu dolore ground round eiusmod. Ground round
                    pastrami dolor quis, culpa shank velit non kevin ad fatback.
                    Buffalo mollit id leberkas adipisicing pariatur. In aliqua
                    andouille cupidatat porchetta dolor in. Porchetta shoulder
                    esse do bresaola. <br /><br />
                    Culpa burgdoggen fugiat do ad sunt exercitation pancetta
                    deserunt non. Ground round pork belly laborum sunt. Nostrud
                    sirloin pancetta rump, nulla elit turkey occaecat est
                    dolore. Doner leberkas laborum enim swine occaecat picanha
                    nulla ut cow mollit spare ribs ribeye pork belly irure.
                </p>
            </div>
        </main>
        <footer></footer>
    </body>
</html>
