<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8" />
        <title>Example Title</title>
        <meta name="author" content="Your Name" />
        <meta name="description" content="Example description" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="index.css" />
    </head>

    <body>
        <header>
            <div>
                <h1>Template 2: Basic Flex 2 Box</h1>
                <hr />
            </div>
        </header>
        <main>
            <div class="content">
                <div class="text">
                    <h2>Lorem Ipsum</h2>
                    <p>
                        Cupcake ipsum dolor sit amet tiramisu macaroon. Gummies
                        candy canes ice cream. Chocolate bar gummi bears
                        chocolate. Soufflé cupcake marshmallow brownie chocolate
                        bar. Icing croissant sugar plum. Gummies tootsie roll
                        sweet roll cheesecake cake candy canes. <br /><br />
                        Jelly beans chocolate bar gingerbread. Donut marshmallow
                        oat cake powder carrot cake marzipan cupcake. Cake
                        gingerbread cheesecake oat cake cheesecake sweet roll
                        jelly-o gummi bears gummies. Dragée tart sugar plum
                        tootsie roll croissant chupa chups. Cheesecake halvah
                        jelly beans marzipan topping. Pudding candy canes gummi
                        bears oat cake candy gummies gummies. Powder oat cake
                        pie ice cream gummi bears tiramisu cookie candy canes
                        jujubes. <br /><br />
                        Donut wafer candy liquorice candy canes sweet roll
                        tootsie roll jelly-o jujubes. Pastry pie caramels cookie
                        lemon drops marshmallow jelly beans. Dessert cake jelly
                        powder. Soufflé jelly beans wafer. Chocolate lemon drops
                        jelly-o cupcake pastry. Soufflé candy canes pudding.
                        Sweet candy canes tootsie roll sesame snaps marzipan.
                        duis. <br /><br />
                    </p>
                </div>
                <hr class="vr"/>
                <div class="image">
                    <img src="https://picsum.photos/300/300" />
                </div>
            </div>
        </main>
        <footer></footer>
    </body>
</html>
